

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 20px;
    padding-left: 10px;
}

body {
    background-color: #ffffff;
    display: block;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #efefef;
    border-top: 1px solid #ddd;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 5px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header a {
    color: #666;
    padding-left: 15px;
}

footer a { 
    color: #666;
    padding-left: 25px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
    display: inline-block;
    font-family: "Arial", sans-serif;
    font-size: 13px;
    line-height: 28px;
}

li a {
    display: inline-block;
    text-align: center;
  }

.left {
    float: left;
}

.right {
    float: right;
    padding-right: 40px;
}

#sign-in {
    background-color: #4285f4;
    border: 1px solid #4285f4;
    padding: 0px 12px;
    color: white;
    border-radius: 3px;
    font: 13px Arial, sans-serif;
    font-weight: bold;
    line-height: 28px;
    margin: auto;
}

#sign-in:hover {
    box-shadow: 0 1px 1px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.logo {
    text-align: center;
    padding-top: 200px;
}

.search-container {
    text-align: center;
}

.search-bar {
    width: 500px;
    height: 42px;
    border: 1px solid #ddd;
    border-radius: 40px;
    margin: 25px 0px 30px 0px;
    outline: none;
    font: 16px Arial, sans-serif;
    padding: 0px 40px;
}

.search-bar:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.button-bar {
    text-align: center;
}

.button {
    background-color: #efefef;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0px 5px;
    font-size: 14px;
    color: #444;
    border: 1px solid #efefef;
}

.button:hover {
    border: 1px solid #bbb;
}